extends layout

block site_header
  - var page = "error"
  style.
    .xe-widget.xe-progress-counter.xe-progress-counter-blue {
        background-color: #0e62c7
    }
    .xe-widget.xe-progress-counter.xe-progress-counter-blue .xe-background {
        color: #fff
    }
    .xe-widget.xe-progress-counter.xe-progress-counter-blue .xe-upper {
        background-color: transparent
    }
    .xe-widget.xe-progress-counter .except {
        font-size: 100px;
        left: -12%;
        top: 25%;
    }
    .xe-widget.xe-progress-counter .except2 {
        font-size: 100px;
        left: -18%;
        top: 25%;
    }
    .calendar-env {
        margin-bottom: 20px;
    }
    .calendar-main {
        padding: 0px !important;
    }
    legend {
        border-bottom: 0px solid !important;
    }
    .panel {
        padding-top: 0px !important;
    }
    span {
        font-size: 15px !important;
    }
    strong{
        font-size: 15px !important;
    }
    .main-font{
      font-family: Arimo, "Helvetica Neue", Helvetica, Arial, 'Nanum Gothic', sans-serif
    !important;
    }
    .btn-color{

    }

block site_body
  html
    head
      title Rhythm &mdash; One & Multi Page Creative Theme
      meta(name="description" content="")
      meta(name="keywords" content="")
      meta(charset="utf-8")
      meta(name="author" content="Roman Kirichik")
      //[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]
      meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

      //- Favicons
      link(rel="shortcut icon" href="images/favicon.png")
      link(rel="apple-touch-icon" href="images/apple-touch-icon.png")
      link(rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png")
      link(rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png")

      //- CSS
      link(rel="stylesheet" href="/cssys/css/bootstrap_css/bootstrap.min.css")
      link(rel="stylesheet" href="/cssys/css/bootstrap_css/style.css")
      link(rel="stylesheet" href="/cssys/css/bootstrap_css/style-responsive.css")
      link(rel="stylesheet" href="/cssys/css/bootstrap_css/animate.min.css")
      link(rel="stylesheet" href="/cssys/css/bootstrap_css/vertical-rhythm.min.css")
      link(rel="stylesheet" href="/cssys/css/bootstrap_css/owl.carousel.css")
      link(rel="stylesheet" href="/cssys/css/bootstrap_css/magnific-popup.css")

    body.appear-animate

      //- Page Loader
      .page-loader
        .loader Loading...
      //- End Page Loader

      //- Page Wrap
      #top.page

        //- Home Section
        section.home-section.bg-dark-alfa-90.parallax-2(style="background" data-background="images/full-width-images/section-bg-12.jpg")
          .js-height-full

            //- Hero Content
            .home-content.container
              .home-text
                .hs-cont

                  //- Headings
                  .hs-wrap

                    .hs-line-13.font-alt.mb-10
                      | 404

                    .hs-line-4.font-alt.mb-40.main-font
                      br
                      | 찾는 페이지가 없습니다.
                      br
                      div(style="font-size: 12px;") The page you were looking for could not be found.

                    .local-scroll
                      a.btn.btn-mod.btn-w.btn-round.btn-small(href="main") Back To Home Page

                  //- End Headings

            //- End Hero Content

        //- End Home Section


        //- Navigation panel
        nav.main-nav.dark.transparent.stick-fixed
          .full-wrapper.relative.clearfix
            //- Logo ( * your text or image into link tag *)
            .nav-logo-wrap.local-scroll
              a.logo(href="mp-index.html")
                img(src="images/logo-white.png" alt="")
            .mobile-nav
              i.fa.fa-bars
            //- Main Menu

      //- <div class="row">
      //- </div>

block site_footer
  script(type="text/javascript" src="/cssys/js/bootstrap_js/jquery-1.11.2.min.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/jquery.easing.1.3.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/bootstrap.min.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/SmoothScroll.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/jquery.scrollTo.min.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/jquery.localScroll.min.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/jquery.viewport.mini.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/jquery.countTo.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/jquery.appear.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/jquery.sticky.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/jquery.parallax-1.1.3.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/jquery.fitvids.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/owl.carousel.min.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/isotope.pkgd.min.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/imagesloaded.pkgd.min.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/jquery.magnific-popup.min.js")
  script(type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=en")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/gmap3.min.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/wow.min.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/masonry.pkgd.min.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/jquery.simple-text-rotator.min.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/all.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/contact-form.js")
  script(type="text/javascript" src="/cssys/js/bootstrap_js/jquery.ajaxchimp.min.js")
  script(src="/cssys/assets/js/moment.min.js")
  script(src="/cssys/assets/js/fullcalendar/fullcalendar.min.js")
  script(src="/cssys/assets/js/xenon-widgets.js")
  script(type="text/javascript").
    console.log(this.students);
    console.log(this.profs);
    jQuery(document).ready(function($) {
        calendar = $('#calendar').fullCalendar({
            header: {
                left: 'title',
                center: '',
                right: 'prev,next'
            },
            buttonIcons: {
                prev: 'prev fa-angle-left',
                next: 'next fa-angle-right',
            },
            selectable: true,
            eventLimit: true,
            events: !{JSON.stringify((systems || []).filter(function(s){ return s.id!=1 && s.id!=13 && s.id!=7 && s.id!=8; }).map(function(s){ return {title: s.phase, start: s.start_, end: s.end_}; }))}
        });
        $(window).trigger('xenon.resized');
    });
