extends layout

- var page = "board"

block page_header
  link(rel="stylesheet" href="/cssys/assets/js/datatables/dataTables.bootstrap.css")
  style.
    .panel-body {
      padding-top: 0px !important;
    }
    .dataTables_paginate {
      float: left !important;
    }
    .dataTables_filter {
      float: right;
      padding-top: 10px;
    }
    .dataTable tbody tr {
      cursor: pointer;
    }
    .rotate{
      -ms-transform:rotate(180deg);
      -moz-transform:rotate(180deg);
      -webkit-transform:rotate(180deg);
      transform:rotate(180deg);
    }

block page_body
  .page-title
    .title-env
      h1.title 자유게시판
      p.description 일정관리시스템의 자유게시판 입니다.
    .breadcrumb-env
      ol.breadcrumb.bc-1
        li
          a(href="main")
            i.fa-home
            | 메인
        li.active
          strong 자유게시판
  .row
    .col-sm-12
      .panel.panel-default
        .panel-body
          table#boardList.table.table-hover(style="width:100% !important;")
            thead
              tr
                th #
                th 제목
                th 글쓴이
                th 날짜
                th 조회
            tbody

block page_footer
  script(src="/cssys/assets/js/datatables/js/jquery.dataTables.min.js")
  script(src="/cssys/assets/js/datatables/dataTables.bootstrap.js")
  script(src="/cssys/assets/js/datatables/tabletools/dataTables.tableTools.min.js")
  script(src="/cssys/assets/js/datatables/fnReloadAjax.js")
  script(type="text/javascript").
    var boardList;
    jQuery(document).ready(function($) {

      boardList=$("#boardList").dataTable({
            "oLanguage": {
                "sSearch": "검색 :",
                "sLengthMenu": "_MENU_ 개씩 보기",
                "sEmptyTable": "레코드가 없습니다.",
                "sInfo": "총 _TOTAL_개 중 _START_에서 _END_번째",
                "sInfoEmpty": "총 0개",
                "sZeroRecords": "일치하는 글이 없습니다.",
                "sInfoFiltered": "(총 _MAX_개 중)",
                "oPaginate": {
                    "sFirst": "처음",
                    "sLast": "마지막",
                    "sNext": "다음",
                    "sPrevious": "이전"
                }
            },
            "sDom": '<"top"i>rt<"bottom"pf><"clear">',
            aLengthMenu: [
                [10, 25, 50, 100, -1],
                [10, 25, 50, 100, "전체"]
            ],
            //"sPaginationType": "full_numbers",
            "bSort": false,
            "bProcessing": true,
            "sAjaxSource": '/cssys/ajax/board/list/schedule_board',
            "sServerMethod": "POST",
            "aoColumns": [
            {
                "mData": "index",
                "mRender": function(data, type, full) {
                  if(data===null) return "<i class='fa fa-reply rotate'></i>";
                  else return data;
                }
            }, {
            "mData": "title",
                "mRender": function(data, type, full) {
                  if(full.secret) return data+" <i class='fa fa-lock'></i>";
                  else return data;
                }
            }, {
            "mData": "name"
            }, {
            "mData": "time"
            }, {
            "mData": "views"
            }, {
            "mData": "text",
            "visible": false,
            }],
            "fnRowCallback": function(nRow, aData, iDisplayIndex) {
                $(nRow).unbind("click").click(function() {
                  document.location='view/'+aData.id;
                });
            },
            "fnDrawCallback": function(oSettings) {
                $(window).trigger('xenon.resized');
            }
        });
      $("#boardList_wrapper .bottom").prepend("<a href='write' class='btn btn-success' style='float:right;margin:10px 0px 0px 30px;'>글쓰기</a>");
    });
