extends layout

block page_header
  - var page = "board"
  style.
    .text-gray {
      margin-top: 0px;
    }

block page_body
  .page-title
    .title-env
      h1.title 자유게시판
      p.description 일정관리시스템의 자유게시판 입니다.
    .breadcrumb-env
      ol.breadcrumb.bc-1
        li
          a(href="main")
            i.fa-home
            | 메인
        li.active
          strong 자유게시판
  .row
    .col-sm-12
      .panel.panel-default
        .panel-body
          form#board.form-horizontal(role="form" action="/cssys/ajax/board/write/schedule_board" method="post" enctype="multipart/form-data")
            .form-group
              label.col-sm-2.control-label(for="ids") 작성자
              .col-sm-4
                input.form-control(type="text" name="name" value=session().user.name disabled)
              label.col-sm-2.control-label(for="ids") 비밀글
              .col-sm-1
                input(type="checkbox" style="margin-top: 9px;" name="secret")
            .form-group
              label.col-sm-2.control-label(for="ids") 제목
              .col-sm-10
                input.form-control(type="text" name="title" placeholder="제목을 입력해주세요.")
            .form-group(style="padding-left:15px;padding-right:15px;")
              textarea.form-control.editor_prof(name="text" rows="25")
            .form-group
              label.col-sm-2.control-label 첨부 파일 1
              .col-sm-10
                input.form-control(type="file" name="file_1")
            .form-group
              label.col-sm-2.control-label 첨부 파일 2
              .col-sm-10
                input.form-control(type="file" name="file_2")
            .form-group
              .col-sm-9
                h5.text-muted ※ 에디터 상단 [링크]와 [사진] 메뉴를 통해서 이미지 및 파일 업로드도 가능합니다.
              .col-sm-3(style="text-align:right;")
                a.btn.btn-white(href="list") 목록
                button.btn.btn-success(type="submit") 등록하기

block page_footer
  script(src="/cssys/assets/js/ckeditor/ckeditor.js")
  script(src="/cssys/assets/js/ckeditor/adapters/jquery.js")
  script(src="/cssys/assets/js/jquery.form.min.js")
  script(type="text/javascript").
    jQuery(document).ready(function($) {
      $(".editor_prof").ckeditor({
        filebrowserUploadUrl: '/cssys/ajax/board/file/upload/schedule_board'
      });

      $('form#board').submit(function(e) {
            e.preventDefault();
              if ($("form input[name='title']").val() === "") {
              $("form input[name='title']").focus();
            }
            else {
          $(this).ajaxSubmit({
                    beforeSubmit: function(arr, $form, options) {
                  $('form button[type="submit"]').attr("disabled", "disabled");
                      show_loading_bar(70);
                    },
                    success: function(data) {
                          show_loading_bar({
                            delay: 1,
                            pct: 100,
                            finish: function() {
                              if(!data.result) alert(data.text);
                                else window.location.href = 'view/'+data.id;
                            }
                        });
                    },
                    error: function(data) {
                show_loading_bar({
                            delay: 1,
                            pct: 100,
                            finish: function() {
                              alert("에러가 발생하였습니다. 시스템 관리자에게 문의해주세요.");
                            }
                        });
                    }
                });
            }
        });
      $("form input[name='title']").focus();
    });
