extends layout

- var page = "user_register"

block page_header
  link(rel="stylesheet" href="/cssys/assets/js/select2/select2.css")
  link(rel="stylesheet" href="/cssys/assets/js/select2/select2-bootstrap.css")
  style.

block page_body
  .page-title
    .title-env
      h1.title 사용자 등록 및 수정
      p.description 추가하고 싶은 사용자의 정보를 입력 또는 수정하고 싶은 사용자를 선택하시기 바랍니다.
    .breadcrumb-env
      ol.breadcrumb.bc-1
        li
          a(href="main")
            i.fa-home
            | 메인
        li(style="color:#979898;") 사용자 관리
        li.active
          strong 사용자 등록 및 수정
  .row
    .col-sm-12
      .panel.panel-default
        .panel-body
          form#register.form-horizontal(role="form")
            .form-group
              label.col-sm-2.control-label 사용자 선택
              .col-sm-10
                select.form-control(name="id")
                  option
                  each user in users
                    option(value=user.id) #{user.name}
            .form-group-separator
            .form-group
              label.col-sm-2.control-label(for="ids") 아이디
              .col-sm-10
                input.form-control(type="text" name="ids" placeholder="ex) honggd" autocomplete="off")
            .form-group-separator
            .form-group
              label.col-sm-2.control-label 비밀번호
              .col-sm-10
                input.form-control(type="password" name="password" placeholder="ex) abcd1234")
            .form-group-separator
            .form-group
              label.col-sm-2.control-label 이름
              .col-sm-10
                input.form-control(type="text" name="name" placeholder="ex) 홍길동")
            .form-group-separator
            .form-group
              label.col-sm-2.control-label 이메일
              .col-sm-10
                input.form-control(type="email" name="email" placeholder="ex) honggd@skku.edu")
            .form-group-separator
            .form-group
              label.col-sm-2.control-label 연락처
              .col-sm-10
                input.form-control(type="text" name="phone" placeholder="ex) 031-290-1234")
            .form-group-separator
            .form-group
              .col-sm-10
                h5.text-muted#deleteComment(style="display:none;") ※ 사용자 삭제는 [사용자 관리] - [사용자 현황] 페이지에서 사용자 클릭 후 팝업창에서 할 수 있습니다.
              .col-sm-2
                button.btn.btn-success(type="submit" style="float:right;") 등록하기

block page_footer
  script(src="/cssys/assets/js/select2/select2.min.js")
  script(type="text/javascript").
    jQuery(document).ready(function($) {
      $("select[name='id']").select2({
        placeholder: '사용자를 선택해 주세요. (사용자 등록시 미선택)'
      }).on("select2-selecting", function(e) {
        $.post( "user_register/ajax/get_user",{id:e.val}, function( data ) {
          $('.form-group').removeClass('has-warning');
          $('input[name="ids"]').val(data.ids).attr("disabled", "disabled");;
          $('input[name="password"]').val("").attr('placeholder','(비밀번호 변경일 경우 입력)');
          $('input[name="name"]').val(data.name);
          $('input[name="email"]').val(data.email);
          $('input[name="phone"]').val(data.phone);
          $('button[type="submit"]').text('수정하기');
          $('#deleteComment').show();
        });
      });
      $("select[name='major']").select2({
        placeholder: '전공을 선택해 주세요.'
      });

      $('form#register').submit(function(e) {
            e.preventDefault();
            var flag = true;
            $(this).find("input.form-control").each(function(index) {
                if ($(this).val() === "") {
                  if($('select[name="id"]').select2('val')=="" || $(this).attr("name")!="password"){
                      $(this).focus();
                      $(this).parent().parent().addClass('has-warning');
                      flag = false;
                  }
                }
            });
            if (flag) {

              $('button[type="submit"]').attr("disabled", "disabled");
                show_loading_bar(70);
          $.post("user_register",{
            id : $('select[name="id"]').select2('val'),
            ids : $('input[name="ids"]').val(),
            password : $('input[name="password"]').val(),
            name : $('input[name="name"]').val(),
            email : $('input[name="email"]').val(),
            phone : $('input[name="phone"]').val()
          }, function(data) {
            show_loading_bar({
                          delay: 1,
                          pct: 100,
                          finish: function() {
                            if(!data.result){
                              alert(data.text);
                              window.location.href = './user_register';
                            }
                            else window.location.href = './user_list';
                          }
                      });
          });
            }
        });
    });
